@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto');
.productos {
	
	width: 99%;
	margin: 10px auto;
}

.fuente {
	font-family: 'Roboto', sans-serif;
}

.carrito:hover {
	cursor: pointer;
}

.bert-alert.carrito {
  background: #3498db;
  color: #fff;
}

.pie {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.blanco {
	color: white !important;
	transition: font-size
}

i.blanco:hover {
	font-size: 30px;
}

i.blanco {
	display: inline-block;
}


#cart:hover {
	cursor: pointer;
}

#curso:hover {
	cursor: pointer;
}

@media (min-width: 708px) and (max-width: 1025px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.btn-primary {
	background-color: #039BE5;
	border-color: #039BE5;
}

.btn-primary:hover {
	background-color: #2980b9;
	border-color: #2980b9;
}

.producto {
	width: 200px;
	padding: 10px;
	max-height: 415px;
	min-height: 205px;
	border: 1px solid #ecf0f1;	
	box-shadow: 0 3px 2px rgba(0,0,0,.05);
	margin: 10px 30px;
	display: inline-block;
}

.flexible {
	width: 90%;
	margin: 20px auto;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	height: 420px;
}

.flexible-categoria {
	width: 96%;
	padding: 10px;
	margin: 15px auto;
	height: 1000px;
	overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
}

.dest{
	padding: 2px;
	margin: 0;
	min-height: 45px;
    white-space: normal;
    
    width: 159px;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 28px;
}

.slide {
	display: block;
	height: 250px;
}

.swiper-container {
    width: 100%;
   height: 250px;
}    

.navbar-default {
	padding-top: 7px;
	border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #039BE5;
	color: white;
}

.novedad {
	
	position: relative;
	top: -20px;
	display: inline-block;
	left: -22px;
	width: 50px;
	height: 50px;
	color: white;
	border-radius: 70%;
	font-size: 24px;
	padding: 9px;
    background: #e67e22;
	text-align: center;

}

.des {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.col-1 {
	width: 40%;
	margin: 20px auto;
}

#boton-c:hover {
	background: #2980b9;
}

.box-white {
	box-shadow: 0 3px 2px rgba(0,0,0,.05);
	border-radius: 4px;
	padding: 10px
}

.fotoAsesor {
	width: 58px;
	height: 58px;
	border-radius: 70%;
}

.slide {
	display: block;
	margin: 0px auto;
	width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	background-color: white;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background: #039BE5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.fotoProducto {
	
	height: 150px;
	
	display: block;
	margin: 10px auto;
}

.navbar-default {
	background-color: #039BE5;
	color: white;
	border-color: white;
	box-shadow: 0 3px 2px rgba(0,0,0,.05);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	height: 83px;
	
}

#boton-c {
	background-color: #039BE5;
	border-radius: 0;
	box-shadow: 0 3px 2px rgba(0,0,0,.05);
	border: none;
	font-family: 'Roboto', sans-serif;
		font-weight: bold;
	text-transform: uppercase;
	height: 40px;
	padding-top: 10px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navnar-nav > li > a {
    	padding-left: 20px !important;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}