<template name="login">
    <div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h1 style="color: white; margin: 10px auto; width: 80%; text-align: center;">Registrate con tu cuenta de Steam</h1>
					<input type="number" style="display: block; margin: 15px auto;" name="steamid" placeholder="STEAM ID" class="input__steam">
					<input type="password" style="display: block; margin: 15px auto;" name="password" placeholder="Password" class="input__steam">
                    <button id="login" class="btn__purschase__steam">Signup W/ Steam ID</button>
				</div>			
			</div>
		</div>
	</div>
</template>

<template name="login2">
    <div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h1 style="color: white; margin: 10px auto; width: 80%; text-align: center;">Ingresa con tu cuenta de Steam</h1>
					<input type="number" style="display: block; margin: 15px auto;" name="steamid" placeholder="STEAM ID" class="input__steam">
					<input type="password" style="display: block; margin: 15px auto;" name="password" placeholder="Password" class="input__steam">
                    <button id="login" class="btn__purschase__steam">Login W/ Steam ID</button>
				</div>			
			</div>
		</div>
	</div>
</template>