<template name="ventaExitosa">
    <div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h1 style="color: white; margin: 10px auto; width: 80%; text-align: center;">Nuestro BOT te ha enviado una ofert a tu cuenta de STEAM</h1>
                    <a style="text-align: center;
    padding-top: 20px;" id="login" href="https://www.steamcomunity.com" target="_blank" class="btn__purschase__steam">IR A STEAM</a>
				</div>			
			</div>
		</div>
	</div>
</template>